#landing{
	@include linear-gradient(to bottom, #8fdce5, #000);
	padding-top: 50px;
	width: 100%;
	height: 600px;
	background-color: #000;
	background: url(../imgs/background.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;

	h1, h2, h3{
		@include transition(color 1s);
		text-shadow: 2px 2px 3px rgba(0,0,0, .5);
		color: #fff;
		line-height: 1;
		margin: 0 5% 15px 5%;
		padding: 0;
		font-family: 'Black Ops One', serif;
	}
	h1{
		margin-top: 75px;
		font-size: 3em;
	}
	h2{
		font-size: 2em;
	}
	h3{
		font-size: 1.5em;
	}

	p{
		text-shadow: 2px 2px 3px rgba(0,0,0, .5);
		font-size: 2.25em;
		margin: 40px 15% 0 15%;
		color: #fff;
	}

	a{
		display: inline-block;
		text-align: center;
		margin-top: 50px;
		color: #fff;
	}

	@media only screen and(max-width: 700px){
		background-attachment: scroll
	}

	@media screen and(max-width: 450px){
		h1{
			margin-top: 75px;
			font-size: 2.50em;
		}
		h2{
			font-size: 1.75em;
		}
		h3{
			font-size: 1.25em;
		}
		p{
			font-size: 1.50em;
		}
	}
}

