#portfolio{
	@include titles;
	position: relative;
	text-align: center;
	margin: 50px auto;
	padding: 25px 0 50px 0;
	width: 100%;
	overflow: hidden;
	background-color: #bbb;

	h1{
		margin-bottom: 50px;
	}

	.buttons{
		margin: 0 auto;
		width: auto;
		text-align: center;
   	}
		
	.buttons button{
		@include transition-property(transform);
		@include transition-duration(.5s);
		display: inline-block;
		margin: 0 .5%;
		vertical-align: top;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #000;
		text-align: center;
		color: $green;
		border: 3px solid $green;

		&:hover{
			@include transition(all 0.5s);
			background-color: $green;
			color: #000;
		}

		&:focus, &:active{
			outline: none;
		}

		&.active{
			background-color: $green;
			color: #000;
		}

		@media screen and(max-width: 500px){
			width: 70px;
			height: 70px;
			border: 3px solid $green;
			font-size: .85em;
		}
	}
}

div.code-pen{
	clear: both;
	margin-top: 75px;
	text-align: center;

	p{
		font-weight: bold;
		font-size: 1.2em;
		color: #444;
	}

	a{
		text-decoration: none;
		color: $green;
		
		&:hover{
			text-decoration: underline;
		}
	}
}

button.push-btn-anim{
	@include transform(scale(.85));
	outline: none;
}