div.api-projects, div.game-room, div.cms-custom, div.other-projects{
	position: relative;
	text-align: center;
	margin: 75px auto;
	display: inline-block;

	&.hidden{
		display: none;
	}

	div{
		position: relative;
		z-index: 2;
		width: 600px;
		margin: 0 auto;

		a{
			text-decoration: none;
		}

		img{
			max-width: 100%;
			height: auto;
		}

		p{
			@include text-shadow;
			position: relative;
			margin: 0 auto;
			margin-top: -52px;
			width: 600px;
			padding: 10px 0;
			font-size: 1em;
			text-align: center;
			background-color: #000;
			background-color: rgba(0,0,0, .90);
			color: #fff;
		}

		@media screen and(max-width: 600px){
			margin: 10px 0 20px 0;
			padding: 0;
			text-align: center;
			width: 100%;
			
			img{
				width: 100%;
			}

			p{
				font-size: .80em;
				width: 100%;
				margin-top: -46px;
			}
		}
	}
	
	@media screen and(max-width: 600px){
		display: block;
	}
	@media screen and(max-width: 500px){
		margin-top: 40px;
	}
}