div.api-projects, div.game-room, div.cms-custom, div.other-projects{
	position: relative;
	text-align: center;
	margin: 75px auto;
	display: inline-block;

	&.hidden{
		display: none;
	}

	div{
		@include projects-border-radius;
		position: relative;
		z-index: 2;
		width: 600px;
		margin: 0 auto 20px 0;
		border-radius: 15px;

		a{
			text-decoration: none;
		}

		img{
			@include projects-border-radius;
			max-width: 100%;
			height: auto;
		}

		p{
			@include text-shadow;
			@include border-bottom-radius(15px);
			position: relative;
			margin: 0 auto;
			margin-top: -58px;
			width: 600px;
			padding: 10px 0;
			font-size: 1em;
			text-align: center;
			background-color: #000;
			background-color: rgba(0,0,0, .90);
			color: #fff;
		
			@media screen and(max-width: 600px){
				font-size: .80em;
				margin-top: -50px;
			}
		}

		@media screen and(max-width: 688px){
			margin: 10px 1% 20px 1%;
			text-align: center;
			width: 95%;

			p{
			width: auto;
			}
		}
	}

	.shadow{
		&:before, &:after{
			position: absolute;
			z-index: -1;
			content: "";
			bottom: 22px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width: 500px;
			background: #666;
			box-shadow: 0 35px 20px #666;
			@include transform(rotate(-8deg));
		}

		&:after{
			@include transform(rotate(8deg));
			right: 10px;
			left: auto;
		}

		@media screen and(max-width: 500px){
			&:before, &:after{
				top: 65%;
				box-shadow: 0 35px 15px #666;
			}
		}
	}
	
	@media screen and(max-width: 688px){
		display: block;
	}
	@media screen and(max-width: 500px){
		margin-top: 40px;
	}
}