div.api-projects, div.game-room, div.live-sites, div.other-projects{
	position: relative;
	text-align: center;
	margin: 75px auto;
	display: inline-block;

	&.hidden{
		display: none;
	}

	> div{
		display: inline-block;
		width: 45%;
		margin: 2em auto;

		a{
			text-decoration: none;
		}

		p{
			@include text-shadow;
			position: relative;
			margin: 0 auto;
			margin-top: -52px;
			width: 600px;
			padding: 10px 0;
			font-size: 1em;
			text-align: center;
			background-color: #000;
			background-color: rgba(0,0,0, .90);
			color: #fff;
		}

		@media screen and(max-width: 600px){
			
			img{
				width: 100%;
			}

			p{
				font-size: .80em;
				width: 100%;
				margin-top: -46px;
			}
		}
	}
	
	@media screen and (max-width: 600px){
		display: block;
	}
	@media screen and (max-width: 500px){
		margin-top: 40px;
	}
}

@include glowing-effect;

.code-link{
	position: relative;
    left: 45%;
    top: -45px;
    color: $green;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  	-webkit-animation-name: glowing-effect;
    animation-name: glowing-effect;
  	-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    &:hover{
    	cursor: help;
    }

    @media screen and(max-width: 600px){
    	left: 40%;
    	top: -40px;
    }
}